.section.portfolio {

  .portfolio-feature:nth-child(odd) {
    @media (min-width: 1200px) {
      flex-direction: row-reverse;
    }
    background-color: RGBA(57,182,184,0.2);

  }
  .portfolio-feature:nth-child(even) {

    background-color: RGBA(164,186,0,0.2);

  }
}
