{{ define "main" }}

{{ $icsURL := "https://oce.co.tools/ical/organizations/5e40fec1690864bc598b4874/events"}}
{{ $icsResource := resources.GetRemote $icsURL }}
{{ $icsContent := $icsResource.Content | plainify }}
{{ $lines := split $icsContent "\n" }}
{{ $eventsByType := dict }}  <!-- Crée un dictionnaire pour stocker les événements triés par type -->
{{ $eventsChronologic := slice }}

{{ $event := dict }}

{{ range $lines }}
  {{ $line := . }}
  {{ if in $line "BEGIN:VEVENT" }}
    {{ $event = dict }}
  {{ else if in $line "END:VEVENT" }}
    {{ with $event }}
      {{ $eventsChronologic = $eventsChronologic | append . }}
    {{ end }}

    {{ $type := $event.Type }} <!-- On récupère le type de l'événement -->
    {{ if not (isset $eventsByType $type) }}
      {{ $eventsByType = $eventsByType | merge (dict $type (slice)) }} <!-- Crée une nouvelle slice vide pour ce type s'il n'existe pas -->
    {{ end }}
    {{ $eventList := index $eventsByType $type }} <!-- Récupère la liste actuelle d'événements pour ce type -->
    {{ $eventList = $eventList | append $event }} <!-- Ajoute l'événement à la liste -->
    {{ $eventsByType =  merge $eventsByType (dict $type $eventList) }} <!-- Met à jour la liste des événements pour ce type -->
    
  {{ else if in $line "SUMMARY:" }}
    {{ $summary := replace $line "SUMMARY:" "" }}
    {{ $type := findRESubmatch `\[(.*)\](.*)` $summary 1 }}
    {{ $type := index (index $type 0) 1 }}
    {{ $summary := replaceRE `\[(.*)\](.*)` "$2" $summary 1 }}
    {{ $event = $event | merge (dict "Summary" $summary) }}
    {{ with $type }}
      {{ $event = $event | merge (dict "Type" $type) }}
    {{ else }}
      {{ $event = $event | merge (dict "Type" "Autre") }}
    {{ end }}
  {{ else if in $line "DTSTART:" }}
    {{ $start := replace $line "DTSTART:" "" }}
    {{ $event = $event | merge (dict "Start" $start) }}
  {{ else if in $line "DTEND:" }}
    {{ $end := replace $line "DTEND:" "" }}
    {{ $event = $event | merge (dict "End" $end) }}
  {{ else if in $line "UID:" }}
    {{ $uid := replace $line "UID:" "" }}
    {{ $event = $event | merge (dict "Uid" $uid) }}
  {{ end }}
{{ end }}


<section class="section blog-single">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        {{ with .Title }}
          <h2 class="display-1 fw-bold text-center text-primary my-3">{{ . }}</h2>
        {{ end }}
        {{ with .Params.description }}
          <p class="text-black-61 text-center pb-2">{{ . }}</p>
        {{ end }}
      </div>
    </div>
    <div class="jumbotron bg-info p-4 mb-5 mx-md-5 rounded d-flex flex-column single-table">
      <h1 class="display-6 text-dark">Inscrivez-vous à votre premier événement</h1>
      <p class="lead">Pour votre première venue, nous vous proposons une inscription facilitée :</p>
      <form id="agendaForm"  class="row g-3 justify-content-evenly">
        <div class="col-lg-5 d-inline-flex rounded focus-ring p-2 " style="border: 1px solid #DDD; background: RGBA(255,255,255,0.8);">
          <!-- Menu déroulant avec plusieurs choix -->
          <img src="/images/icon-date.png" class="align-self-center "/>

          <select class="custom-select flex-fill w-100 form-select border-0 bg-transparent"  id="date">
            <option selected>Choisissez une date d'activité...</option>
            {{ range $type, $events := $eventsByType }}
              <optgroup label="{{ $type }}">
              {{ range $events }}
    
                {{ $formatedStart := .Start | replaceRE "([0-9]{4})([0-9]{2})([0-9]{2})T([0-9]{2})([0-9]{2})([0-9]{2})Z"
                "${1}-${2}-${3}T${4}:${5}:${6}+04:00" }}
                {{ $formatedStart := chomp $formatedStart }}
                {{ $formatedStart := time.AsTime $formatedStart }}
                {{ if ge $formatedStart now }}
                  {{ $nom := printf "%s %s" (time.Format "02 Jan 2006 15:04" $formatedStart) .Summary  }}
                  {{ with .Type }} 
                    {{ $typeEtNom := printf "[%s] %s" . $nom  }}
                    <option value="{{ $typeEtNom }}">{{ $nom }}</option>
                  {{ else }}
                    {{ $typeEtNom := printf "autre>%s"  $nom  }}
                    <option value="{{ $typeEtNom }}">{{ $nom }}</option>
                  {{ end }}
                {{ end }}
              {{ end }}
              </optgroup>
              <hr />
            {{ end }}
          </select>
        </div>

        <div class="col-lg-6 d-inline-flex rounded focus-ring p-2 " style="border: 1px solid #DDD; background: RGBA(255,255,255,0.8);">   
   
            <img src="/images/icon-mail.png" class="align-self-center "/>
            <input id="email" type="email" class="form-control bg-transparent" placeholder="Adresse mail" aria-label="email" aria-describedby="email" required>
          
            <button type="submit" class="my-0 plan-submit hvr-bubble-float-right h-100" value="Soumettre"><span class="d-md-none">✒</span><span class="d-none d-md-block text-nowrap">Je m'inscris</span></button>
  
        </div>

          <!-- <div class="col-md-0">-->
          <!-- Sélection du nombre de personnes entre 1 et 5 -->
          <!-- <label for="nombre_personnes">Participant.es</label>-->
          <!-- <input type="number" class="form-control col-md-2" id="nombre_personnes" name="nombre_personnes" min="1"
            max="5" value="1" required>-->
        <!-- </div> -->



      </form>
      <p id="result"></p>
    </div>

    <div id="myBtnContainer" class="d-flex flex-column flex-md-row mb-4 justify-content-center">
      <button class="events-btn active" data-target="all" > Tout voir</button>
      <button class="events-btn" data-target="Chantier"> Chantiers</button>
      <button class="events-btn" data-target="Réunion"> Réunions</button>
      <button class="events-btn" data-target="Atelier"> Ateliers</button>
      <button class="events-btn" data-target="Formation"> Formations</button>
      <button class="events-btn" data-target="Soirée"> Soirées</button>
    </div>

    <div class="row mx-1">
        <ul class="event-list ">

          

          

          {{ range $eventsChronologic }}
    
            {{ $formatedStart := .Start | replaceRE "([0-9]{4})([0-9]{2})([0-9]{2})T([0-9]{2})([0-9]{2})([0-9]{2})Z" "${1}-${2}-${3}T${4}:${5}:${6}+04:00" }}
            {{ $formatedStart  := chomp $formatedStart  }}
            {{ $formatedStart := time.AsTime $formatedStart   }}
            {{ $formatedStart := $formatedStart.Add ( time.ParseDuration "4h" ) }}

            {{ if ge $formatedStart now }}

              <li class="flex-row flex-wrap flex-md-row events-list-hide {{ .Type }}">
                <time datetime="2014-07-20" class="order-1 col-6 col-md-2 align-content-center">
                  <span class="day">{{ time.Format "02" $formatedStart }}</span>
                  <span class="month">{{ time.Format "Jan" $formatedStart }}</span>
                  <span class="year">{{ time.Format "2006" $formatedStart }}</span>
                  <span class="hour">{{ time.Format "15:04" $formatedStart }}</span>
                </time>
      
                <div class="order-2 col-6 order-md-3 col-md-2 overflow-hidden"  style="background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; background-image:url(/images/{{ .Type }}.png);"></div>
      
                <div class="info order-3 col-12 order-md-2 col-md-8 text-center m-auto align-content-center">
                  <h2 class="title text-wrap fs-4 p-2">{{ .Summary }}</h2><br>
                </div>
      
              </li>
    
            {{ end }}
    




          {{ end }}  
        </ul>


        
      
    </div>
  
  </div>
</section>

{{- $eventsJS := resources.Get "js/events.js" -}} 
{{- $eventsJS := $eventsJS | js.Build (dict "minify" "false") -}}  
<script>{{- $eventsJS.Content | safeJS -}}</script> 
<!--  On charge events.js ici car sinon il ne trouve pas myBtnContainer  -->

  <!-- Load JS pour les formulaires -->
{{- $formsJS := resources.Get "js/formsData.js" -}}
{{- $formsJS := $formsJS | js.Build (dict "minify" "true") -}}
<script>{{- $formsJS.Content | safeJS -}}</script>

{{ end }}


