{{ define "main" }} 
{{ $postResponse := resources.GetRemote "https://newsletter.laraffinerie.re/ghost/api/content/posts/?key=42626d8332dbdbf2f1c9b5da41" }}

{{ $res := $postResponse.Content | transform.Unmarshal  }}


  <section class="section blog-single">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          {{ with .Title }}
            <h2 class="display-1 fw-bold text-center text-primary my-3">{{ . }}</h2>
          {{ end }}
          {{ with .Params.description }}
            <p class="text-black-61 text-center pb-2">{{ . }}</p>
          {{ end }}
        </div>
      </div>

    <div class="jumbotron bg-info p-4 mb-5 mx-md-5 rounded single-table">
      <h1 class="display-6 text-dark ">Inscrivez-vous à la newsletter</h1>
      Pour suivre nos actualités inspirantes, vous pouvez recevoir la newsletter sur votre boîte mail
      <div class="col-lg-8">{{ partial "shared/formulaireNewsletter.html" "Je m'abonne"  }}</div>
    </div>

      <div class="row">
        {{ range $res.posts }}


                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="well blog">
                        <a href="{{ .url | plainify | htmlUnescape }}">
                            {{ $t := time.AsTime .published_at  }}                            
                            <div class="date primary">
                                <span class="blog-date">{{ time.Format "2 Jan" $t }}</span>
                                <span class="blog-number">{{ time.Format "2006" $t }}</span>

                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 align-middle">
                                    <div class="image d-flex align-items-center">
                                    
                                        {{ $srcIndex := findRESubmatch `src=\"([^"']*\.(?:jpg|jpeg|png|gif|bmp|svg))` .html 1 }}
                                        {{ if gt (len $srcIndex) 0 }}
                                          {{ partial "utilities/image-fluidRemote.html" (dict "imgPath" (absURL (index (index $srcIndex 0) 1 )) "imgResize" "300x webp q75" "imgClass" "align-middle")  }}

                                        {{ else }}
                                          <p>No image found</p>
                                        {{ end }}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                    <div class="blog-details">
                                        <h2>{{ .title | plainify | htmlUnescape }}</h2>
                                        <p>
                                          {{ .excerpt }} ... >Lire l'article complet</p>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

        {{ end }}
      </div>
    </div>
  </section>

  <!-- Load JS pour les formulaires -->
  {{- $formsJS := resources.Get "js/formsData.js" -}}
  {{- $formsJS := $formsJS | js.Build (dict "minify" "true") -}}
  <script>{{- $formsJS.Content | safeJS -}}</script>
{{ end }}

