<!-- Load Shared SCSS -->
{{- $sharedSCSS := resources.Get "scss/shared/shared.scss" -}}
{{- $sharedSCSS := $sharedSCSS | resources.ToCSS (dict "outputStyle" "compressed" "includePaths" (slice "assets")) -}}
{{- $sharedSCSS := $sharedSCSS | resources.ExecuteAsTemplate "main.scss" . -}}

<!-- Load Shared JS -->
{{- $sharedJS := resources.Get "js/shared/shared.js" -}}
{{- $sharedJS := $sharedJS | js.Build (dict "minify" "true") -}}

<style type="text/css" media="all">{{ $sharedSCSS.Content | safeCSS }}</style>
<script>{{- $sharedJS.Content | safeJS -}}</script>



<!-- Load Carousel CSS et JS -->
{{- $carouselCSS := resources.Get "css/carousel.css" -}}
{{- $carouselJS := resources.Get "js/carousel.js" -}}
{{- $carouselJS := $carouselJS | js.Build (dict "minify" "true") -}}
<style type="text/css" media="all">{{ $carouselCSS.Content | safeCSS }}</style>
<script>{{- $carouselJS.Content | safeJS -}}</script>

<!-- Load Blog CSS -->
<!-- https://www.bootdey.com/snippets/view/Blog-post-list -->
{{- $blogCSS := resources.Get "css/blog.css" -}}
<style type="text/css" media="all">{{ $blogCSS.Content | safeCSS }}</style>

<!-- Load Events CSS et JS -->
<!--  https://www.w3schools.com/howto/howto_js_portfolio_filter.asp  -->
{{- $eventsCSS := resources.Get "css/events.css" -}}
<style type="text/css" media="all">{{ $eventsCSS.Content | safeCSS }}</style>
  <!--  On charge events.js dans la page agenda car sinon il ne trouve pas myBtnContainer  -->
 
