<!-- https://notes.laraffinerie.re/s/4887bbdb-7057-4da8-b761-3aeb825645ac
  Page confirmation autres -->

{{ $postResponse := resources.GetRemote "https://notes.laraffinerie.re/api/documents.info" (dict
"method" "post"
"body" `{"shareId": "4887bbdb-7057-4da8-b761-3aeb825645ac"}`
"headers" (dict
"Content-Type" "application/json"
"accept" "application/json"
)
)}}
{{ $res := $postResponse.Content | transform.Unmarshal }}
{{ $contenu := $res.data.text }}
<!-- supprime les commentaires dans les cadres bleus et les caractères inutiles en fin de fichier -->
{{ $contenu := replaceRE `(?s):::.*:::` "" $contenu }}
{{ $contenu := replaceRE `(?m)^[\s]*\\[\s]*$` "" $contenu }}
{{ $contenu := $contenu | markdownify }}

{{ $contenu := replace $contenu "xxxxx" "<span id='nomEvent'></span>"}}
{{ $contenu := htmlUnescape $contenu | safeHTML }}


<!-- Modal -->
<div class="modal fade" id="modalConfirmation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ $contenu }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>




<!--https://notes.laraffinerie.re/s/f2cede75-e6b3-46f9-b6cf-5f12e254db0d
  Page confirmation chantier -->

{{ $postResponse := resources.GetRemote "https://notes.laraffinerie.re/api/documents.info" (dict
"method" "post"
"body" `{"shareId": "f2cede75-e6b3-46f9-b6cf-5f12e254db0d"}`
"headers" (dict
"Content-Type" "application/json"
"accept" "application/json"
)
)}}
{{ $res := $postResponse.Content | transform.Unmarshal }}
{{ $contenu := $res.data.text }}
<!-- supprime les commentaires dans les cadres bleus et les caractères inutiles en fin de fichier -->
{{ $contenu := replaceRE `(?s):::.*:::` "" $contenu }}
{{ $contenu := replaceRE `(?m)^[\s]*\\[\s]*$` "" $contenu }}
{{ $contenu := $contenu | markdownify }}

{{ $contenu := replace $contenu "xxxxx" "<span id='nomEventChantier'></span>"}}
{{ $contenu := htmlUnescape $contenu | safeHTML }}


<!-- Modal Chantier -->
<div class="modal fade" id="modalConfirmationChantier" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ $contenu }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>



<!-- Modal Newsletter-->
<div class="modal fade" id="modalConfirmationNewsletter" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Vous êtes maintenant abonné·e à la newsletter, merci et bonne lecture.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>