
<form class="mx-2" id="newsletterForm" method="POST">

  <div class="col-12 mt-2 d-inline-flex rounded focus-ring p-2" style="border: 1px solid #DDD; background: RGBA(255,255,255,0.8);">    

      <img src="/images/icon-mail.png" class="align-self-center "/>

      <input id="newsletterEmail" type="email" class="form-control bg-transparent" placeholder="Adresse mail" aria-label="email" aria-describedby="email" required>
    
      <button type="submit" class="my-0 plan-submit hvr-bubble-float-right h-100" value="Soumettre"><span class="d-md-none">✒</span><span class="d-none d-md-block text-nowrap">{{ . }}</span></button>

  </div>

</form>