
<div class="embed-responsive">
  <iframe class="embed-responsive-item w-75" id="frameTiBillet" height="300"  onload="scrollIframeToBottom(this)" src="https://lespass.demo.tibillet.org/memberships/?embed=true"></iframe>
</div>

<script>
  function scrollIframeToBottom(iframe) {
    iframe.onload = function() {
        // Défilement de l'iframe vers le bas
        iframe.contentWindow.scrollTo(100,500 );
    };
}
  </script>