{{ $icsURL := "https://oce.co.tools/ical/organizations/5e40fec1690864bc598b4874/events"}}
{{ $icsResource := resources.GetRemote $icsURL }}
{{ $icsContent := $icsResource.Content | plainify }}
{{ $lines := split $icsContent "\n" }}
{{ $eventsByType := dict }}  <!-- Crée un dictionnaire pour stocker les événements triés par type -->
{{ $eventsChronologic := slice }}

{{ $event := dict }}

{{ range $lines }}
  {{ $line := . }}
  {{ if in $line "BEGIN:VEVENT" }}
    {{ $event = dict }}
  {{ else if in $line "END:VEVENT" }}
    {{ with $event }}
      {{ $eventsChronologic = $eventsChronologic | append . }}
    {{ end }}

    {{ $type := $event.Type }} <!-- On récupère le type de l'événement -->
    {{ if not (isset $eventsByType $type) }}
      {{ $eventsByType = $eventsByType | merge (dict $type (slice)) }} <!-- Crée une nouvelle slice vide pour ce type s'il n'existe pas -->
    {{ end }}
    {{ $eventList := index $eventsByType $type }} <!-- Récupère la liste actuelle d'événements pour ce type -->
    {{ $eventList = $eventList | append $event }} <!-- Ajoute l'événement à la liste -->
    {{ $eventsByType =  merge $eventsByType (dict $type $eventList) }} <!-- Met à jour la liste des événements pour ce type -->
    
  {{ else if in $line "SUMMARY:" }}
    {{ $summary := replace $line "SUMMARY:" "" }}
    {{ $type := findRESubmatch `\[(.*)\](.*)` $summary 1 }}
    {{ $type := index (index $type 0) 1 }}
    {{ $summary := replaceRE `\[(.*)\](.*)` "$2" $summary 1 }}
    {{ $event = $event | merge (dict "Summary" $summary) }}
    {{ with $type }}
      {{ $event = $event | merge (dict "Type" $type) }}
    {{ else }}
      {{ $event = $event | merge (dict "Type" "Autre") }}
    {{ end }}
  {{ else if in $line "DTSTART:" }}
    {{ $start := replace $line "DTSTART:" "" }}
    {{ $event = $event | merge (dict "Start" $start) }}
  {{ else if in $line "DTEND:" }}
    {{ $end := replace $line "DTEND:" "" }}
    {{ $event = $event | merge (dict "End" $end) }}
  {{ else if in $line "UID:" }}
    {{ $uid := replace $line "UID:" "" }}
    {{ $event = $event | merge (dict "Uid" $uid) }}
  {{ end }}
{{ end }}

<form class="mx-2" id="agendaForm"  method="POST" >
    <div class="col-12 d-inline-flex rounded focus-ring p-2" style="border: 1px solid #DDD; background: RGBA(255,255,255,0.8);">
      <!-- Menu déroulant avec plusieurs choix -->
      {{/*  <label for="date">Choisissez un chantier</label><br>  */}}
        <img src="/images/icon-date.png" class="align-self-center "/>

        <select class="custom-select flex-fill w-100 form-select border-0 bg-transparent"  id="date">
          <option selected>Choisissez une date d'activité...</option>
          {{ range $type, $events := $eventsByType }}
            <optgroup label="{{ $type }}">
            {{ range $events }}

              {{ $formatedStart := .Start | replaceRE "([0-9]{4})([0-9]{2})([0-9]{2})T([0-9]{2})([0-9]{2})([0-9]{2})Z"
              "${1}-${2}-${3}T${4}:${5}:${6}+04:00" }}
              {{ $formatedStart := chomp $formatedStart }}
              {{ $formatedStart := time.AsTime $formatedStart }}
              {{ if ge $formatedStart now }}
                {{ $nom := printf "%s %s" (time.Format "02 Jan 2006 15:04" $formatedStart) .Summary  }}
                {{ with .Type }} 
                  {{ $typeEtNom := printf "[%s] %s" . $nom  }}
                  <option value="{{ $typeEtNom }}">{{ $nom }}</option>
                {{ else }}
                  {{ $typeEtNom := printf "autre>%s"  $nom  }}
                  <option value="{{ $typeEtNom }}">{{ $nom }}</option>
                {{ end }}
              {{ end }}
            {{ end }}
            </optgroup>
            <hr />
          {{ end }}
        </select>
    </div>

    <div class="col-12 mt-2 d-inline-flex rounded focus-ring p-2" style="border: 1px solid #DDD; background: RGBA(255,255,255,0.8);">    

          <img src="/images/icon-mail.png" class="align-self-center "/>
          <input id="email" type="email" class="form-control bg-transparent" placeholder="Adresse mail" aria-label="email" aria-describedby="email" required>
        
          <button type="submit" class="my-0 plan-submit hvr-bubble-float-right h-100" value="Soumettre"><span class="d-md-none">✒</span><span class="d-none d-md-block text-nowrap">{{ . }}</span></button>

    </div>

      <!-- <div class="col-md-0">-->
      <!-- Sélection du nombre de personnes entre 1 et 5 -->
      <!-- <label for="nombre_personnes">Participant.es</label>-->
      <!-- <input type="number" class="form-control col-md-2" id="nombre_personnes" name="nombre_personnes" min="1"
        max="5" value="1" required>-->
    <!-- </div> -->


  </form>