<!-- https://notes.laraffinerie.re/s/02836d70-e395-43c9-8958-40052a77e21d
Quoi faire à la raffinerie ? -->

{{ $postResponse := resources.GetRemote "https://notes.laraffinerie.re/api/documents.info"  (dict 
    "method" "post"
    "body" `{"shareId": "02836d70-e395-43c9-8958-40052a77e21d", "apiVersion": 2}` 
    "headers" (dict 
        "Content-Type" "application/json"
        "accept" "application/json"
    )
)}}
{{ $res := $postResponse.Content | transform.Unmarshal  }}
{{ $contenu := replaceRE `\\[\\\s]` "" $res.data.document.text }}
{{ $contenu := $contenu | markdownify }}

<section class="section services py-5">
  <div class="container">
    <div class="row justify-content-center pb-lg-4">
      <div class="col-12 col-xl-8">
        {{ with $res.data.document.title }}
          <h3 id="{{ anchorize . }}" class="fs-1 fw-bold text-center text-primary pb-3">{{ . }}</h3>
        {{ end }}
        {{ with $contenu }}
          <p class="text-black-61 text-center pb-3">{{ . }}</p>
        {{ end }}
      </div>
    </div>


    
    <div class="row gy-3 justify-content-center">
      {{ range $res.data.sharedTree.children }}
        {{ $idJson := jsonify .id }}
        {{ $postResponse := resources.GetRemote "https://notes.laraffinerie.re/api/documents.info"  (dict 
        "method" "post"
        "body" (printf `{"shareId": "02836d70-e395-43c9-8958-40052a77e21d", "id": %s, "apiVersion": 2}` $idJson)  
        "headers" (dict 
            "Content-Type" "application/json"
            "accept" "application/json"
        )
        )}}
        {{ $res := $postResponse.Content | transform.Unmarshal  }}
        {{ $contenu := replaceRE `\\[\\\s]` "" $res.data.document.text }}
        <!-- supprime les commentaires dans les cadres bleus et les caractères inutiles en fin de fichier -->
        {{ $contenu := replaceRE `(?s):::.*:::` "" $contenu }} 
        {{ $contenu := replaceRE `\\[\\\s]` "" $contenu }}
 
        {{ $imgMatch := findRESubmatch `!\[([\w\s\d]*)\]\((https?:\/\/[\w\d.\/?\-=#%&]+)[ "\.=\dx]*\)` $contenu 1 }}
        {{ $imgMD := index $imgMatch 0 }}
        {{ $imgPath := index $imgMD 2 }}
        {{ $contenu := replaceRE `!\[([\w\s\d]*)\]\((https?:\/\/[\w\d.\/?\-=#%&]+)[ "\.=\dx]*\)` "" $contenu 1 }}

        {{ $boutons := findRESubmatch `(?m)^Bouton: \[(.*?)\]\((.*?)\)` $contenu }}
        {{ $contenu := replaceRE `(?m)^Bouton: \[(.*?)\]\((.*?)\)` "" $contenu }}

        {{ $contenu := $contenu | markdownify }}

        <div class="col-12 col-xl-4">
          <div class="bg-blue-16 border-0 border-radius-34 p-4 text-center" >
            
            {{ partial "utilities/image-fluidRemote.html" (dict "imgPath" $imgPath "imgResize" "300x q100" "imgClass" "w-100")  }}
            <div class="card-body ">
              <h4 class="card-title text-center text-primary pb-4">{{ $res.data.document.title }}</h4>
              <p class="card-text text-black-61 pb-4">{{ $contenu }}</p>
              {{ partial "boutons.html" $boutons }}
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</section>
