<!-- https://notes.laraffinerie.re/s/ad4ab2de-ad16-4e61-947b-f7da5936f3be
ALERTES -->

{{ $postResponse := resources.GetRemote "https://notes.laraffinerie.re/api/documents.info"  (dict 
    "method" "post"
    "body" `{"shareId": "ad4ab2de-ad16-4e61-947b-f7da5936f3be"}` 
    "headers" (dict 
        "Content-Type" "application/json"
        "accept" "application/json"
    )
)}}
{{ $res := $postResponse.Content | transform.Unmarshal  }}
{{ $contenu := $res.data.text }}
{{ $contenu := replaceRE `\\[\\\s]` "" $contenu  }}
{{ $alertes := findRESubmatch `(?smU):::(\w+)\s(.*):::` $contenu }}


{{ range $alertes }}
    {{ $niveau :=  index . 1 }}
    {{ $message :=  index . 2 | markdownify }}
    {{ $message := replaceRE `<a (.*)>` "<a class='alert-link' $1>" $message | safeHTML }}
    {{ $message := replaceRE `<h([1234]{1}) (.*)>` "<h$1 class='alert-heading' $2>" $message | safeHTML }}

    <div class="alert alert-{{ if eq $niveau "warning" }}{{ "danger" }}{{ else if eq $niveau "tip" }}{{ "warning" }}{{ else }}{{ $niveau }}{{ end }}
         alert-dismissible fade show" role="alert">
            {{ $message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
{{ end }}