<!-- pAppel à l'action-->
<!-- https://notes.laraffinerie.re/s/01c78328-a7a0-425c-950d-2c40ac6b4c39-->
{{ $postResponse := resources.GetRemote "https://notes.laraffinerie.re/api/documents.info"  (dict 
    "method" "post"
    "body" `{"shareId": "01c78328-a7a0-425c-950d-2c40ac6b4c39"}` 
    "headers" (dict 
        "Content-Type" "application/json"
        "accept" "application/json"
    )
)}}
{{ $res := $postResponse.Content | transform.Unmarshal  }}
{{ $contenu := $res.data.text  }} 
<!-- supprime les commentaires dans les cadres bleus et les caractères inutiles en fin de fichier -->
{{ $contenu := replaceRE `(?sU):::.*:::` "" $contenu }} 
{{ $contenu := replaceRE `\\[\\\s]` "" $contenu }}
<!-- Récupère le titre -->
{{ $h1 := findRESubmatch `(?m)^# (.*)$` $contenu 1  }}
{{ $h1 := index (index $h1 0) 1 }}
{{ $contenu := replaceRE `(?m)^# .*$` "" $contenu }}
<!-- Récupère l'image -->
{{ $img := findRESubmatch `!\[[^\]]*\]\(([^\")]+)[ "=\dx]*\)` $contenu }}
{{ $contenu := replaceRE `!\[[^\]]*\]\(([^\")]+)[ "=\dx]*\)` "" $contenu }}

{{ $contenu := $contenu | markdownify }}


<section class="section brands py-5">
  <div class="container">
    <div class="row">
      {{ with $h1 }}
        <div class="col-12">
          <h3 class="fs-5 fw-semibold text-primary text-center pb-4">{{ . }}</h3>
        </div>
      {{ end }}
    </div>
    <div class="row align-items-center justify-content-center">
      {{ range $img }}
        {{ $imgURL := ( index . 1 ) }}
        <div class="col px-3 my-2 text-center">
          {{ with resources.GetRemote $imgURL }}
            {{ if ne .MediaType.SubType "svg" }} 
              {{ with images.Filter images.Grayscale . }}
                {{ with .Resize "72x webp" }} 
                  {{ with resources.Copy (printf "import/%s" .Name) . }}
                    <img class="" src="{{ .RelPermalink }}" alt="{{ .Title }}" width="{{ .Width }}" height="{{ .Height  }}">
                  {{ end }}
                {{ end }}
              {{ end }}
            {{ else }}
              {{ with resources.Copy (printf "import/%s" .Name) . }}
                <img class="" src="{{ .RelPermalink }}" alt="{{ .Title }}" width="" height="">
              {{ end }}
       
            {{ end }}
          {{ end }}
        </div>
      {{ end }}
    </div>
  </div>






</section>


