<!-- https://notes.laraffinerie.re/s/76965309-44ba-45b0-89bd-f3f19b2ea5f6
C'est Quoi la Raffinerie -->

{{ $postResponse := resources.GetRemote "https://notes.laraffinerie.re/api/documents.info"  (dict 
    "method" "post"
    "body" `{"shareId": "76965309-44ba-45b0-89bd-f3f19b2ea5f6"}` 
    "headers" (dict 
        "Content-Type" "application/json"
        "accept" "application/json"
    )
)}}
{{ $res := $postResponse.Content | transform.Unmarshal  }}
{{ $contenu := replaceRE `(?s):::.*:::` "" $res.data.text  }}
{{ $contenu := replaceRE `\\[\\\s]` "" $contenu | markdownify }}


    <div class="container">
      <div class="row pb-5  d-flex flex-column justify-content-center">
          <div class="blog-content">
            <div class="text-center text-justify text-black-61 text-xl-start pb-4"> {{ $contenu }}</p></div>
          </div>
      </div>
    </div>

