<!-- pAppel à l'action-->
<!-- https://notes.laraffinerie.re/s/61d65670-fb51-44f8-9718-f9c2eeed904c -->
{{ $postResponse := resources.GetRemote "https://notes.laraffinerie.re/api/documents.info"  (dict 
    "method" "post"
    "body" `{"shareId": "61d65670-fb51-44f8-9718-f9c2eeed904c"}`
    "headers" (dict 
        "Content-Type" "application/json"
        "accept" "application/json"
    )
)}}
{{ $res := $postResponse.Content | transform.Unmarshal  }}
{{ $contenu := $res.data.text  }} 
<!-- supprime les commentaires dans les cadres bleus et les caractères inutiles en fin de fichier -->
{{ $contenu := replaceRE `(?s):::.*:::` "" $contenu }} 
{{ $contenu := replaceRE `\\[\\\s]` "" $contenu }}
<!-- Récupère le titre -->
{{ $h1 := findRESubmatch `(?m)^# (.*)$` $contenu 1  }}
{{ $h1 := index (index $h1 0) 1 }}
{{ $contenu := replaceRE `(?m)^# .*$` "" $contenu }}
<!-- Récupère l'image -->

{{ $img := findRESubmatch `!\[([\w\s\d]*)\]\((https?:\/\/[\w\d.\/?\-=#%&]+)[ "\.=\dx]*\)` $contenu }}
{{ $img :=  index (index $img 0) 2 }}
{{ $contenu := replaceRE `!\[([\w\s\d]*)\]\((https?:\/\/[\w\d.\/?\-=#%&]+)[ "\.=\dx]*\)` "" $contenu }}
<!-- Récupère les boutons  -->
{{ $boutons := findRESubmatch `(?m)^Bouton: \[(.*?)\]\((.*?)\)` $contenu }}
{{ $contenu := replaceRE `(?m)^Bouton: \[(.*?)\]\((.*?)\)` "" $contenu }}


{{ $contenu := $contenu | markdownify }}


<section class="section cta ">

  {{ with resources.GetRemote $img }}
    {{ with .Resize "800x webp" }} 
      {{ with resources.Copy (printf "import/%s" .Name) . }}
        <div style="background-image: url({{ .RelPermalink }}); width: 100%; background-repeat: no-repeat; background-size: cover; background-position: center;">
      {{ end }}
    {{ end }}
  {{ end }}

    <div style="background-color: rgba(255,255,255, 0.75);">
    <div class="container py-5">
      <div class="row justify-content-center py-5">
        <h3 class=" fs-3 hero-title fw-bold display-1 text-primary text-center  pb-4">{{ $h1 | markdownify }}</h3>
      
        {{ with $boutons }}
          {{ $bouton1Label :=  index (index . 0) 1 }}
          {{ $bouton1Url :=  index (index . 0) 2 }}
          {{ $bouton2Label :=  index (index . 1) 1 }}
          {{ $bouton2Url :=  index (index . 1) 2 }}
          <div class="d-flex flex-row flex-xl-row justify-content-center">
              <a class="btn-lg btn-primary text-light px-4 my-1 text-decoration-none" href={{ $bouton1Url }}>{{ $bouton1Label }}</a>
              {{ if ge (len .) 2}}
              <a class="btn-lg btn-outline-primary px-4 my-1 ms-xl-4 text-decoration-none" href="{{ $bouton2Url }}">{{ $bouton2Label }}</a>
              {{ end }}
          </div>
        {{ end }}

      </div>
    </div>
    </div>

  </div>


  </div>
</section>
