<!-- page d'accueil -->
<!-- https://notes.laraffinerie.re/s/20745368-d3ee-41d6-9bb7-ae9b76095a97 -->
{{ $postResponse := resources.GetRemote "https://notes.laraffinerie.re/api/documents.info"  (dict 
    "method" "post"
    "body" `{"shareId": "20745368-d3ee-41d6-9bb7-ae9b76095a97"}` 
    "headers" (dict 
        "Content-Type" "application/json"
        "accept" "application/json"
    )
)}}
{{ $res := $postResponse.Content | transform.Unmarshal  }}
{{ $contenu := $res.data.text  }} 
<!-- supprime les commentaires dans les cadres bleus et les caractères inutiles en fin de fichier -->
{{ $contenu := replaceRE `(?s):::.*:::` "" $contenu }} 
{{ $contenu := replaceRE `\\[\\\s]` "" $contenu }}
<!-- Récupère le titre -->
{{ $h1 := findRESubmatch `(?m)^# (.*)$` $contenu 1  }}
{{ $h1 := index (index $h1 0) 1 }}
{{ $contenu := replaceRE `(?m)^# .*$` "" $contenu }}
<!-- Récupère l'image -->
{{ $img := findRESubmatch `!\[[^\]]*\]\(([^\)]+)\)` $contenu }}
{{ $img :=  index (index $img 0) 1 }}
{{ $contenu := replaceRE `!\[[^\]]*\]\(([^\)]+)\)` "" $contenu }}
<!-- Récupère les boutons  -->
{{ $boutons := findRESubmatch `(?m)^Bouton: \[(.*?)\]\((.*?)\)` $contenu }}
{{ $contenu := replaceRE `(?m)^Bouton: \[(.*?)\]\((.*?)\)` "" $contenu }}


{{ $contenu := $contenu | markdownify }}


<section class="section hero pb-5 pb-2">
  <div class="container">
    <div class="row flex-column flex-xl-row-reverse">
      <div class="col-12 col-xl-6  d-flex flex-column justify-content-center hero-image">
        {{ partial "carousel.html" (dict "context" . "items" "1" "height" "500" "unit" "px" "duration" "7000") }}

      </div>
      <div class="col-12 col-xl-6 d-flex flex-column justify-content-center">

        <h3 class="hero-title fw-bold display-1 text-primary text-center text-xl-start pb-4">{{ $h1 | markdownify }}</h3>

        <div class="text-justify text-center text-black-61 text-xl-start pb-4">{{ $contenu  }}</div>

        {{ partial "boutons.html" $boutons }}


      </div>
    </div>
  </div>
</section>
