<!-- 
  https://notes.laraffinerie.re/s/2a940b07-9195-46e7-8b53-54987fc353c1
Sections -->

{{ $postResponse := resources.GetRemote "https://notes.laraffinerie.re/api/documents.info"  (dict 
    "method" "post"
    "body" `{"shareId": "2a940b07-9195-46e7-8b53-54987fc353c1", "apiVersion": 2}` 
    "headers" (dict 
        "Content-Type" "application/json"
        "accept" "application/json"
    )
)}}
{{ $res := $postResponse.Content | transform.Unmarshal  }}
{{ $contenu := replaceRE `\\[\\\s]` "" $res.data.document.text }}
{{ $contenu := $contenu | markdownify }}

<section class="section portfolio">
  <div class="container">
    <!-- <div class="row justify-content-center pb-5">
      <div class="col-12 col-xl-6">
        {{ with $res.data.document.title }}
          <h3 class="fs-1 fw-bold text-center text-primary pb-3">{{ . }}</h3>
        {{ end }}
        {{ with $contenu }}
          <p class="text-black-61 text-center pb-3">{{ . }}</p>
        {{ end }}
      </div>
    </div> -->
    
    {{ range $res.data.sharedTree.children }}
      {{ $idJson := jsonify .id }}
      {{ $postResponse := resources.GetRemote "https://notes.laraffinerie.re/api/documents.info"  (dict 
      "method" "post"
      "body" (printf `{"shareId": "2a940b07-9195-46e7-8b53-54987fc353c1", "id": %s, "apiVersion": 2}` $idJson)  
      "headers" (dict 
          "Content-Type" "application/json"
          "accept" "application/json"
      )
      )}}
      {{ $res := $postResponse.Content | transform.Unmarshal  }}
      {{ $contenu := replaceRE `\\[\\\s]` "" $res.data.document.text }}
      <!-- supprime les commentaires dans les cadres bleus et les caractères inutiles en fin de fichier -->
      {{ $contenu := replaceRE `(?s):::.*:::` "" $contenu }} 
      {{ $contenu := replaceRE `\\[\\\s]` "" $contenu }}

      {{ $imgMatch := findRESubmatch `!\[([\w\s\d]*)\]\((https?:\/\/[\w\d.\/?\-=#%&]+)[ "\.=\dx]*\)` $contenu 1 }}
      {{ $imgMD := index $imgMatch 0 }}
      {{ $imgPath := index $imgMD 2 }}
      {{ $contenu := replaceRE `!\[([\w\s\d]*)\]\((https?:\/\/[\w\d.\/?\-=#%&]+)[ "\.=\dx]*\)` "" $contenu 1 }}

      {{ $boutons := findRESubmatch `(?m)^Bouton: \[(.*?)\]\((.*?)\)` $contenu }}
      {{ $contenu := replaceRE `(?m)^Bouton: \[(.*?)\]\((.*?)\)` "" $contenu }}

      {{ $contenu := $contenu | markdownify }}

      <div class="row portfolio-feature my-3">
        <div class=" col-12 col-xl-5 d-flex align-items-center justify-content-center p-5">
            {{ partial "utilities/image-fluidRemote.html" (dict "imgPath" $imgPath "imgResize" "800x webp q100" "imgClass" "")  }}
        </div>
        <div class="px-3 pb-4 p-lg-5 col-12 col-xl-7 d-flex flex-column justify-content-center ">
        
          <!-- <p class="text-danger fw-semibold mb-2">Les valeurs de La Raffinerie</p> -->
          
          {{ with $res.data.document.title }}
            <h3 id="{{ anchorize . }}"  class="fs-1 fw-bold text-primary pb-3 text-center">{{ . }}</h3>
          {{ end }}
          {{ with $contenu }}
            <p class="text-black-61 pb-3">{{ . }}</p>
          {{ end }}
          {{ partial "boutons.html" $boutons }}
          <!-- <div class="">
            {{ range $boutons }}
              {{ $label := index . 2 }}
              {{ $url := index . 3 }}
              <a class="text-decoration-none me-3" href="{{ $url }}">{{ $label }}</a>
            {{ end }}
          </div>  -->

        </div>

      </div>
    {{ end }}
  </div>
</section>
