<!DOCTYPE html>
<html lang="en">
  {{ partial "head/head.html" . }}
  <body>
    {{- partial "shared/header.html" . -}}
    {{- partial "shared/formConfirmModal.html" . -}}
    {{- block "main" . -}}{{- end -}}
    {{- partial "shared/footer.html" . -}}
  </body>
</html>
