

{{ define "main" }}



{{ $shareID := substr .Params.contenu_url 32 }}
{{ $postResponse := resources.GetRemote "https://notes.laraffinerie.re/api/documents.info"  (dict 
"method" "post"
"body" (print "{\"shareId\": \"" $shareID "\"}" ) 
"headers" (dict 
    "Content-Type" "application/json"
    "accept" "application/json"
)
)}}
{{ $res := $postResponse.Content | transform.Unmarshal  }}
{{ $contenu := $res.data.text | markdownify }}

  <section class="section blog-single py-5">
    <div class="container">
      <div class="row justify-content-center pb-5">
        <div class="col-12">
          {{ with .Title }}
            <h2 class="display-1 fw-bold text-center text-primary pb-3">{{ . }}</h2>
          {{ end }}
          {{ with .Params.description }}
            <p class="text-black-61 text-center pb-3">{{ . }}</p>
          {{ end }}
        </div>
      </div>
      <div class="row pb-5  d-flex flex-column justify-content-center">
        <div class="blog-content">
          <div class="text-center text-justify text-black-61 text-xl-start pb-4"> {{ $contenu  }}</p></div>
          </div>
        </div>
      </div>
      <div class="row pb-5">
      </div>
    </div>
  </section>
{{ end }}

