{{ define "main" }}
<!-- https://notes.laraffinerie.re/s/bb6a73da-ef93-4ece-b064-95554d93b531
Page Chantier participatif  -->

{{ $postResponse := resources.GetRemote "https://notes.laraffinerie.re/api/documents.info"  (dict 
    "method" "post"
    "body" `{"shareId": "bb6a73da-ef93-4ece-b064-95554d93b531"}` 
    "headers" (dict 
        "Content-Type" "application/json"
        "accept" "application/json"
    )
)}}
{{ $res := $postResponse.Content | transform.Unmarshal  }}
{{ $contenu := $res.data.text  }} 
<!-- supprime les commentaires dans les cadres bleus et les caractères inutiles en fin de fichier -->
{{ $contenu := replaceRE `(?s):::.*:::` "" $contenu }} 
{{ $contenu := replaceRE `\\[\\\s]` "" $contenu }}
<!-- Récupère le titre -->
{{ $h1 := findRESubmatch `(?m)^# (.*)$` $contenu 1  }}
{{ $h1 := index (index $h1 0) 1 }}
{{ $contenu := replaceRE `(?m)^# .*$` "" $contenu }}
<!-- Récupère l'image -->
{{ $img := findRESubmatch `!\[[^\]]*\]\(([^\)]+)\)` $contenu }}
{{ $img :=  index (index $img 0) 1 }}
{{ $contenu := replaceRE `!\[[^\]]*\]\(([^\)]+)\)` "" $contenu }}
<!-- Récupère les boutons  -->
{{ $boutons := findRESubmatch `(?m)^Bouton: \[(.*?)\]\((.*?)\)` $contenu }}
{{ $contenu := replaceRE `(?m)^Bouton: \[(.*?)\]\((.*?)\)` "" $contenu }}


{{ $contenu := $contenu | markdownify }}



<section class="section blog-single py-2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        {{ with .Title }}
          <h2 class="display-1 fw-bold text-center text-primary">{{ . }}</h2>
        {{ end }}
        {{ with .Params.description }}
          <p class="text-black-61 text-center pb-2">{{ . }}</p>
        {{ end }}
      </div>
    </div>
    

    <div class="row pb-5  d-flex flex-column justify-content-center">
        <div class="container">
          <div class="text-center text-justify text-black-61 text-xl-start pb-4"> 
            {{ $contenu }}
          </div>
        </div>
    </div>

{{ end }}


