
.blog .image {
    height: 250px;
    overflow: hidden;
    border-radius: 3px 0 0 3px;
}

.blog .image img {
    width: 100%;
    height: auto;
}

.blog .date {
    top: -10px;
    z-index: 99;
    width: 68px;
    right: -10px;
    height: 65px;
    padding: 3px;
    padding-top: 15px;
    position: absolute;
    color:#FFFFFF;
    font-weight:bold;
    background: RGBA(57,182,184,1);
    border-radius: 999px;
    text-align: center;
}

.blog .blog-details {
    padding: 0 20px 0 0;
}

.blog {
    padding: 0;
}

.well {
    border: 0;
    padding: 20px;
    min-height: 63px;
    background: RGBA(57,182,184,0.11);
    box-shadow: none;
    border-radius: 3px;
    position: relative;
    max-height: 100000px;
    border-bottom: 2px solid #ccc;
}

.blog a:link, .blog a:visited {
    text-decoration: none;
  }

.blog .blog-details h2 {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.blog .date .blog-number {
    color: #fff;
    display: block;
    font-size: 12px;
    text-align: center;
}          


