

/* Style the buttons */
.events-btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
}

/* Add a grey background color on mouse-over */
.events-btn:hover {
    background-color: RGBA(167,139,188,0.2);
}

/* Add a dark background color to the active button */
.events-btn.active {
    background-color: RGBA(167,139,188,0.8);
    color: white;
}



/* The "show" class is added to the filtered elements */
.show-event {
    display: flex !important;
}

/* Create three equal columns that floats next to each other */
.events-list-hide {
    display: none;
    /* Hide columns by default */
}
.event-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
    display: block;
}
.event-list > li {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgb(51, 51, 51);
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
    padding: 0px;
    margin: 0px 0px 20px;
}
.event-list > li > time {
    /* width: 50%; */
    color: rgb(255, 255, 255);
    background-color: RGBA(57,182,184,0.6);
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}
.event-list > li:nth-child(even) > time {
    background-color: RGBA(57,182,184,0.6);
}
.event-list > li > time > span {
    display: none;
}
.event-list > li > time > .day {
    display: block;
    font-size: 48pt;
    font-weight: 100;
    line-height: 0.8;
}
.event-list > li time > .month {
    display: block;
    font-size: 22pt;
    font-weight: 500;
    line-height: 1;
}
.event-list > li time > .hour {
    display: block;
    font-size: 16pt;
    font-weight: 600;
    line-height: 1.2;
}
.event-list > li > img {
    /* width: 50%; */
    object-fit: cover;
    vertical-align: top;
    max-width:100%;
    max-height: 100%;
    display:block;
}
.event-list > li > .info {
    padding-top: 5px;
    min-height: 120px;
}
.event-list > li > .info > .title {
    font-size: 20pt;
    font-weight: 500;
    margin: 0px;
}
.event-list > li > .info > .desc {
    font-size: 13pt;
    font-weight: 300;
    margin: 0px;
}
.event-list > li > .info > ul,
.event-list > li > .social > ul {
    display: table;
    list-style: none;
    margin: 10px 0px 0px;
    padding: 0px;
    /* width: 100%; */
    text-align: center;
}
.event-list > li > .social > ul {
    margin: 0px;
}
.event-list > li > .info > ul > li,
.event-list > li > .social > ul > li {
    display: table-cell;
    cursor: pointer;
    color: rgb(30, 30, 30);
    font-size: 11pt;
    font-weight: 300;
    padding: 3px 0px;
}
.event-list > li > .info > ul > li > a {
    display: block;
    /* width: 100%; */
    color: rgb(30, 30, 30);
    text-decoration: none;
} 
.event-list > li > .social > ul > li {    
    padding: 0px;
}
.event-list > li > .social > ul > li > a {
    padding: 3px 0px;
} 
.event-list > li > .info > ul > li:hover,
.event-list > li > .social > ul > li:hover {
    color: rgb(30, 30, 30);
    background-color: rgb(200, 200, 200);
}
.facebook a,
.twitter a,
.google-plus a {
    /* width: 100%; */
    color: rgb(75, 110, 168) !important;
}
.twitter a {
    color: rgb(79, 213, 248) !important;
}
.google-plus a {
    color: rgb(221, 75, 57) !important;
}
.facebook:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(75, 110, 168) !important;
}
.twitter:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(79, 213, 248) !important;
}
.google-plus:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(221, 75, 57) !important;
}

@media (min-width: 768px) {
    .event-list > li > .info > .title {
        font-size: 20pt;

    }
}