@font-face {
  font-family: 'HelvetiHand';
  src: url('/fonts/HelvetiHand.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'LoveThunder';
  src: url("/fonts/Love-Thunder-Raff.ttf") format('truetype');
  
}

@font-face {
  font-family: 'HelvetiHand';
  src: url('/fonts/Inter-Bold.ttf') format('truetype');
  font-weight: bold;
}



h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: $primary;
  font-family: 'LoveThunder';
  text-transform: uppercase;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight:700;
  color: $danger;
  font-family: 'LoveThunder';
  text-transform: uppercase;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  color: $danger;
  font-family: 'LoveThunder';
  text-transform: uppercase;
}

h4 {
  display: block;
  color: $danger;
  font-family: 'LoveThunder';
  text-transform: uppercase;
}

h5 {
  display: block;
  color: $danger;
  font-family: 'LoveThunder';
  text-transform: uppercase;
}

h6 {
  display: block;
  color: $light;
  font-family: 'LoveThunder';
  text-transform: uppercase;
}