.fw-semibold {
  font-weight: 600;
}

.text-black-61 { color: rgba(0, 0, 0, 0.61); }

.bg-green { background-color: #B4D1C4; }
.bg-yellow { background-color: #F6DE9D; }
.bg-red { background-color: #FF87B0D9; }
.bg-purple { background-color: #ADA8D6; }

.bg-blue-16 {
  background-color: RGBA(57,182,184,0.2);
}

.border-blue-16 {
  border-color: rgba(39, 163, 255, 0.16);
}

.bg-blue-63 {
  background-color: rgba(220, 240, 255, 0.63);
}

.bg-blue-light {
  background-color: #F6FBFF;
}

.border-radius-34 {
  border-radius: 34px;
}

.size-16 {
  min-width: 16px;
  max-width: 16px;

  min-height: 16px;
  max-height: 16px;
}

.size-24 {
  min-width: 24px;
  max-width: 24px;

  min-height: 24px;
  max-height: 24px;
}

.size-64 {
  min-width: 64px;
  max-width: 64px;

  min-height: 64px;
  max-height: 64px;
}

.size-90 {
  min-width: 90px;
  max-width: 90px;

  min-height: 90px;
  max-height: 90px;
}

.aspect-ratio-62-5 {
  position: relative;
  width: 100%;
  max-height: 0;
  padding-bottom: 62.5%;

  img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}



// Table colors pour Contribuer
$table-bg:#fff;
$plan-header-bg:#FCC084; //change
$plan-header-bg-2:#C8BDD9; //change
$plan-header-bg-3:#8CD2D0; //change
$plan-header-bg-4:#9b59b6; //change

$plan-header-input:#ffe3c7; //change
$plan-header-input-2:#cbc6d2; //change
$plan-header-input-3:#b2d0cf; //change


$single-table-bg:#FCC084;
$table-header:#fff;
$table-border-color:#eee;
$plan-price-color: #fff;
$plan-price-month-color: #8394AE;
$plan-price-border: lighten($plan-header-bg, 20%);


#pricing-tables {
    background-color: $table-bg;
    padding: 30px 0;
    position: relative;
    font-family: 'HelvetiHand', sans-serif;
    & .popout {
      border: solid #eee;
      border-width: 0 1px 1px 1px;
      background-color: $single-table-bg;
        padding-right: 0;
        padding-left: 0;
        &:hover {
            box-shadow: 0px 11px 30px 0px rgba(0, 0, 0, 0.75);
            z-index: 2;
            -webkit-transform: scale(1.06);
            -ms-transform: scale(1.06);
            -moz-transform: scale(1.06);
            transform: scale(1.06);
            border: 0;
            -webkit-transition: 0.5s all;
            transition: 0.5s all;
            border: none;
        }
    }
}



.form-control {
    border: none;

  }

.form-control:focus {
    border-color: transparent;
    box-shadow: none;
    border: none;
    background: transparent;
  }

.form-select:focus {
    border-color: transparent;
    box-shadow: none;
    border: none;
    background: transparent;
  }

.single-table {
    background: $single-table-bg;
    -webkit-transition: all 0.20s linear;
    transition: all 0.20s linear;
    z-index: 1;
    & .plan-header {
        background: $plan-header-bg;
        color: $table-header;
        text-transform: capitalize;
        padding: 2px 0;
        & h3 {
            font-size: 40px;
            margin: 0;
            padding: 20px 0 5px 0;
            text-transform: uppercase;
            @media (min-width: 600px) {
                font-size: 40px;
            }
            /* If the screen size is smaller than 1200px, set the font-size to 80px */
            @media (max-width: 599.98px) {
                font-size: 30px;
            }
        }

    }
    & .plan-header img { max-height: 80px; object-fit: contain; }

    & .plan-price {
        display: inline-block;
        color: $plan-header-bg;
        margin: 0 0 10px 0;
        font-size: 25px;
        font-weight: bold;
        background: #fff;
        border-radius: 50%;
        color: $plan-header-bg;
        padding: 33px 15px;
        & span {
            font-size: 14px;
            font-weight: normal;
        }
    }
    & ul {
        margin: 0;
        padding: 20px 0;
        list-style: none;
        & li {
            padding: 8px 0;
            margin: 0 20px;
            border-bottom: 1px solid $table-border-color;
            font-size: 15px;
        }
    }
    & .plan-submit {
        background-color: #E75294AA;
        display: inline-block;
        text-decoration: none;
        padding: 4px 20px;
        border: 8px solid transparent;
        color: white;
        font-family: LoveThunder;
        text-transform: uppercase;
        border-radius: 9px;
        -webkit-transition: all .25s linear;
        -moz-transition: all .25s linear;
        -ms-transition: all .25s linear;
        -o-transition: all .25s linear;
        transition: all .25s linear;
        &:hover {
            background: #E75294FF;
            color: #FFF;
            -webkit-transition: all .25s linear;
            -moz-transition: all .25s linear;
            -ms-transition: all .25s linear;
            -o-transition: all .25s linear;
            transition: all .25s linear;
        }
    }

    /* Bubble Float Right */
    .hvr-bubble-float-right {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        position: relative;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
    }
    .hvr-bubble-float-right:before {
        position: absolute;
        z-index: -1;
        top: calc(50% - 10px);
        right: 0;
        content: '';
        border-style: solid;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent transparent;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
    }
    .hvr-bubble-float-right:hover,
    .hvr-bubble-float-right:focus,
    .hvr-bubble-float-right:active {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    .hvr-bubble-float-right:hover:before,
    .hvr-bubble-float-right:focus:before,
    .hvr-bubble-float-right:active:before {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
        border-color: transparent transparent transparent $plan-header-bg;
    }
    
}

.color-2 {


    & .single-table {
        background: $plan-header-bg-2;
    }

    & #pricing-table .col-md-4 {
        background-color: $plan-header-bg-2;
    }

    & .single-table .plan-contenu{
      border: solid #eee;
      border-width: 0 1px 0 1px;
    }

    & .single-table .plan-header{
        background: $plan-header-bg-2;
        color: $table-header;
        & .plan-price{
            color:$plan-header-bg-2;
            background: #fff;
        }

        
        }
    & .single-table .plan-submit{
        border: 3px solid transparent;
        color: white; 
        &:hover{
            background: #E75294FF;
            color: #FFF;
        }       
    }


    .hvr-bubble-float-right:hover:before,
    .hvr-bubble-float-right:focus:before,
    .hvr-bubble-float-right:active:before {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
        border-color: transparent transparent transparent $plan-header-bg-2;
    }

}


.color-3 {
    & .single-table {
        background: $plan-header-bg-3;
    }

    & .single-table .plan-header{
        background: $plan-header-bg-3;
        color: $table-header;
        & .plan-price{
            color:$plan-header-bg-3;
            background: #fff;
        }

        
        }
    & .single-table .plan-submit{
        border: 3px solid transparent;
        color: white; 
        &:hover{
            background: #E75294FF;
            color: #FFF;
        }       
    }

  
    .hvr-bubble-float-right:hover:before,
    .hvr-bubble-float-right:focus:before,
    .hvr-bubble-float-right:active:before {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
        border-color: transparent transparent transparent $plan-header-bg-3;
    }

}



.color-4 {
    & .single-table .plan-header{
        background: $plan-header-bg-4;
        color: $table-header;

        & .plan-price{
            color:$plan-header-bg-4;
            background: #fff;
        }

        
        }
    & .single-table .plan-submit{
        border: 3px solid $plan-header-bg-4;
        color: $plan-header-bg-4; 
        &:hover{
            background: $plan-header-bg-4;
            color: #FFF;
        }       
    }

 
    .hvr-bubble-float-right:hover:before,
    .hvr-bubble-float-right:focus:before,
    .hvr-bubble-float-right:active:before {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
        border-color: transparent transparent transparent $plan-header-bg-4;
    }

}