{{ $bouton1Label :=  index (index . 0) 1 }}
{{ $bouton1Url :=  index (index . 0) 2 }}
{{ $bouton2Label :=  index (index . 1) 1 }}
{{ $bouton2Url :=  index (index . 1) 2 }}

<div class="d-flex flex-column flex-xl-row justify-content-center">

    <a class="btn btn-primary text-light px-4 my-1" href={{ $bouton1Url }}>{{ $bouton1Label }}</a>

    {{ if ge (len .) 2}}
     <a class="btn btn-outline-primary px-4 my-1 ms-xl-4" href="{{ $bouton2Url }}">{{ $bouton2Label }}</a>
    {{ end }}
</div>