{{ .context.Scratch.Set "height" .height }}
{{ .context.Scratch.Set "unit" .unit }}
{{ .context.Scratch.Set "items" .items }}
<!-- <div id="carousel10" class="carousel" duration="{{ .duration }}" items="{{ .items }}">
  <ul>
      {{ range $index, $slide := .context.Site.Data.carousel.images }}
        <li id="c10_slide{{ add $index 1}}" style="min-width: calc(100%/{{ $.context.Scratch.Get "items" }}); padding-bottom: {{ $.context.Scratch.Get "height" }}{{ $.context.Scratch.Get "unit" }};"><img src="{{ $slide.image }}" alt="" /><div><div>{{ $slide.content_html }}</div></div></li>
      {{ end }}
  </ul>
  <ol>
    {{ range $index, $page := .context.Site.Data.carousel.images }}
      <li><a href="#c10_slide{{ add $index 1 }}"></a></li>
    {{ end }}
  </ol>
  <div class="prev">&lsaquo;</div>
  <div class="next">&rsaquo;</div>
</div> -->



<div  class="carousel" duration="{{ .duration }}" items="{{ .items }}">
  <ul>
    {{ with resources.GetRemote "https://pixelfed.fr/users/LaRaffinerie.atom" | transform.Unmarshal }}  

    {{ range $index, $contenu := .entry }}
      {{ $adress := index $contenu.content 1 }}
      {{ $imgsrc := index $adress "-url" }}

      {{ with resources.GetRemote $imgsrc }}
        {{ with .Resize "x500 webp q100" }}
          {{ with resources.Copy (printf "import/%s" .Name) . }}
            <li id="c10_slide{{ add $index 1}}" style="min-width: calc(100%/{{ $.context.Scratch.Get "items" }}); padding-bottom: {{ $.context.Scratch.Get "height" }}{{ $.context.Scratch.Get "unit" }};"><img class="rounded" src="{{ .RelPermalink }}" alt="" /></li>
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}  
  </ul>
  <ol>
    {{ range $index, $contenu := .entry }}
      <li><a href="#c10_slide{{ add $index 1 }}"></a></li>
    {{ end }}
    {{ end }}
  </ol>
  <div class="prev">&lsaquo;</div>
  <div class="next">&rsaquo;</div>
</div>

