{{ define "main" }}
<!-- https://notes.laraffinerie.re/s/0cbf48c9-8c1e-4e46-9ac8-6d00afbd4dfc
Page Contribuer  -->

{{ $postResponse := resources.GetRemote "https://notes.laraffinerie.re/api/documents.info"  (dict 
    "method" "post"
    "body" `{"shareId": "0cbf48c9-8c1e-4e46-9ac8-6d00afbd4dfc", "apiVersion": 2}` 
    "headers" (dict 
        "Content-Type" "application/json"
        "accept" "application/json"
    )
)}}
{{ $res := $postResponse.Content | transform.Unmarshal  }}
{{ $contenu := replaceRE `\\[\\\s]` "" $res.data.document.text }}
<!-- supprime les commentaires dans les cadres bleus et les caractères inutiles en fin de fichier -->
{{ $contenu := replaceRE `(?s):::.*:::` "" $contenu }} 
{{ $contenu := replaceRE `\\[\\\s]` "" $contenu }}
<!-- Récupère le titre -->
{{ $h1 := findRESubmatch `(?m)^# (.*)$` $contenu 1  }}
{{ $h1 := index (index $h1 0) 1 }}
{{ $contenu := replaceRE `(?m)^# .*$` "" $contenu }}
<!-- Récupère l'image -->
{{ $img := findRESubmatch `!\[[^\]]*\]\(([^\")]+)[ "=\dx]*\)` $contenu }}
{{ $contenu := replaceRE `!\[[^\]]*\]\(([^\")]+)[ "=\dx]*\)` "" $contenu }}

{{ $contenu := $contenu | markdownify }}

<section class="section blog-single">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">

          <h2 class="display-1 fw-bold text-center text-primary my-3">{{ $h1 }}</h2>

          <p class="text-black-61 text-center pb-2">{{ $contenu }}</p>

      </div>
    </div>

    <section class="section " id="pricing-tables">
      <div class="container d-flex px-0 pb-4 justify-content-center">
        <div class="row gx-5 gy-3 w-100">
        {{ range $index, $val := $res.data.sharedTree.children }}
          {{ $idJson := jsonify $val.id }}
          {{ $postResponse := resources.GetRemote "https://notes.laraffinerie.re/api/documents.info"  (dict 
          "method" "post"
          "body" (printf `{"shareId": "0cbf48c9-8c1e-4e46-9ac8-6d00afbd4dfc", "id": %s, "apiVersion": 2}` $idJson)  
          "headers" (dict 
              "Content-Type" "application/json"
              "accept" "application/json"
          )
          )}}
          {{ $res := $postResponse.Content | transform.Unmarshal  }}
          {{ $contenu := replaceRE `\\[\\\s]` "" $res.data.document.text }}
          <!-- supprime les commentaires dans les cadres bleus et les caractères inutiles en fin de fichier -->
          {{ $contenu := replaceRE `(?sU):::.*:::` "" $contenu }} 
          {{ $contenu := replaceRE `\\[\\\s]` "" $contenu }}

          <!-- Récupère le titre -->
          {{ $h2 := findRESubmatch `(?m)^# (.*)$` $contenu 1  }}
          {{ $h2 := index (index $h2 0) 1 }}
          {{ $contenu := replaceRE `(?m)^# .*$` "" $contenu }}

          {{ $imgMatch := findRESubmatch `!\[([\w\s\d]*)\]\((https?:\/\/[\w\d.\/?\-=#%&]+)[ "\.=\dx]*\)` $contenu 1 }}
          {{ $imgMD := index $imgMatch 0 }}
          {{ $imgPath := index $imgMD 2 }}
          {{ $contenu := replaceRE `!\[([\w\s\d]*)\]\((https?:\/\/[\w\d.\/?\-=#%&]+)[ "\.=\dx]*\)` "" $contenu 1 }}

          {{ $boutons := findRESubmatch `(?m)^Bouton: \[(.*?)\]\((.*?)\)` $contenu }}
          {{ $contenu := replaceRE `(?m)^Bouton: \[(.*?)\]\((.*?)\)` "" $contenu }}

          <!-- Pour les formulaires-->
          {{ $formNewsletter := findRESubmatch `(?m)^Formulaire-Newsletter: (.*)` $contenu }}
          {{ $contenu := replaceRE `(?m)^Formulaire-Newsletter: (.*)` "" $contenu }}

          {{ $formChantier := findRESubmatch `(?m)^Formulaire-Chantier: (.*)` $contenu }}
          {{ $contenu := replaceRE `(?m)^Formulaire-Chantier: (.*)` "" $contenu }}

          {{ $formAdhesion := findRESubmatch `(?m)^Formulaire-Adhésion: (.*)` $contenu }}
          {{ $contenu := replaceRE `(?m)^Formulaire-Adhésion: (.*)` "" $contenu }}


          {{ $contenu := $contenu | markdownify }}    
    


          
          {{ if eq 0 $index }} {{/*  Première colonne  */}}
            <div class="col-lg-6 col-xs-12 color-{{ add $index 1 }} popout">   
          {{ else if eq 1 $index }} {{/*  Début deuxième colonne  */}}
            <div class="col-lg-6 col-xs-12 px-3 px-lg-4">
              <div class="row gy-3">
                <div class="col-12 color-{{ add $index 1 }} popout">
          {{ else if gt $index 1 }} {{/*  autres lignes dans la 2e colonne  */}}
            <div class="col-12 color-{{ add $index 1 }} popout">
          {{ end }}
 


              <div class="single-table text-center " style="min-height: 200px;">
                  <div class="plan-header">
                    <div class="row no-gutters pt-3 px-3">
                      <div class="col-3 align-self-center px-1 text-end">
                        {{ partial "utilities/image-fluidRemote.html" (dict "imgPath" $imgPath)  }}
                      </div>
                      <div class="col-9 px-0 ">
                        <h3 >  {{ $res.data.document.title }}</h3>
                        <h6>{{ $h2 }}</h6>
                      </div>
                    </div>
                  </div>
                  <div class="plan-contenu pb-1 pt-2">
                    <br>
                    <div class="collapse" id="collapseExample{{ $index }}">
                      {{ $contenu }}
                    </div>
                    
                    {{ if $formChantier }}
                      {{ partial "shared/formulaireChantier.html" (index ( index $formChantier 0 ) 1) }}
                    {{ else if $formNewsletter }}
                      {{ partial "shared/formulaireNewsletter.html" (index ( index $formNewsletter 0 ) 1)  }}
                    {{ else if $formAdhesion }}
                      {{ partial "shared/formulaireAdhesion.html" (index ( index $formNewsletter 0 ) 1)  }}                      
                    {{ end }}

                    {{ if $boutons }}
                        <a href="{{index (index $boutons 0) 2}}" class="plan-submit hvr-bubble-float-right fs-5">{{ index (index $boutons 0) 1 }}</a> 
                    {{ end }}
                    <div class="d-flex align-items-start flex-column pt-4">
                      <a class="text-decoration-none text-dark" data-bs-toggle="collapse" href="#collapseExample{{ $index }}" role="button" aria-expanded="false" aria-controls="collapseExample{{ $index }}">
                        ➕ Afficher les détails ...
                      </a></div>
                  </div>
              </div>   

          </div> {{/*  On ferme une seule fois dans la boucle, et on fermera les 2 div ouverts pour la deuxième colonne après le range  */}}
    
        {{ end }}
        </div> </div> {{/*  Ferme les 2 div ouverts pour la deuxième colonne  */}}  
        </div>
      </div>
  </section>

  <!-- Load JS pour les formulaires -->
{{- $formsJS := resources.Get "js/formsData.js" -}}
{{- $formsJS := $formsJS | js.Build (dict "minify" "true") -}}
<script>{{- $formsJS.Content | safeJS -}}</script>

{{ end }}


