{{ define "main" }}
  <!-- https://notes.laraffinerie.re/s/35f1d28f-71a8-4a7b-9233-d8eaaec0f0f0
  Page CONTACT -->

  {{ $postResponse := resources.GetRemote "https://notes.laraffinerie.re/api/documents.info"  (dict 
      "method" "post"
      "body" `{"shareId": "35f1d28f-71a8-4a7b-9233-d8eaaec0f0f0"}` 
      "headers" (dict 
          "Content-Type" "application/json"
          "accept" "application/json"
      )
  )}}
  {{ $res := $postResponse.Content | transform.Unmarshal  }}
  {{ $contenu := replaceRE `\\[\\\s]` "" $res.data.text }}
  <!-- supprime les commentaires dans les cadres bleus et les caractères inutiles en fin de fichier -->
  {{ $contenu := replaceRE `(?s):::.*:::` "" $contenu }} 
  {{ $contenu := replaceRE `\\[\\\s]` "" $contenu }}

  {{ $imgMatch := findRESubmatch `!\[([\w\s\d]*)\]\((https?:\/\/[\w\d.\/?\-=#%&]+)[ "\w\-\.=\dx]*\)` $contenu 1 }}
  {{ $imgMD := index $imgMatch 0 }}
  {{ $imgPath := index $imgMD 2 }}
  {{ $contenu := replaceRE `!\[([\w\s\d]*)\]\((https?:\/\/[\w\d.\/?\-=#%&]+)[ "\w\-\.=\dx]*\)` "" $contenu 1 }}

  {{ $boutons := findRESubmatch `(?m)^Bouton: \[(.*?)\]\((.*?)\)` $contenu }}
  {{ $contenu := replaceRE `(?m)^Bouton: \[(.*?)\]\((.*?)\)` "" $contenu }}

  {{ $contenu := $contenu | markdownify }}

  <section class="section blog-single ">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          {{ with $res.data.title }}
            <h2 class="display-1 fw-bold text-center text-primary my-3">{{ . }}</h2>
          {{ end }}
        </div>
      </div>
      
      <div class="jumbotron bg-info p-4 mb-5 mx-md-5 rounded ">
        <div class="d-flex justify-content-evenly">
          {{ partial "utilities/image-fluidRemote.html" (dict "imgPath" $imgPath)  }}
        </div>
        <iframe width="100%" height="200vh" src="https://www.openstreetmap.org/export/embed.html?bbox=55.222239196300514%2C-21.073508093156683%2C55.22447347640992%2C-21.071898769533156&amp;layer=mapnik&amp;marker=-21.072704908929406%2C55.22335767745972" style="border: 1px solid black"></iframe>
        <br/><small><a href="https://www.openstreetmap.org/?mlat=-21.072705&amp;mlon=55.223358#map=19/-21.072703/55.223356&amp;layers=N" target="_blank">Afficher une carte plus grande</a></small>
        <br/>
        <div class="d-flex ">
          <div class="row justify-content-evenly w-100 pt-2">
          {{ range $boutons }}
            <div class="col-lg-6 ">
              <a class="form-control btn-lg btn-primary text-light px-4 my-2 text-decoration-none  text-center"  href="{{ (index . 2) | safeURL }}">{{ index . 1 }}</a>
            </div>
          {{ end }}
          </div>
        </div>

        
      </div>

      <div class="row pb-5  d-flex flex-column justify-content-center">
          <div class="container">
            <div class="text-center text-justify text-black-61 text-xl-start pb-4"> 
              {{ $contenu }}
            </div>
          </div>
      </div>
{{ end }}


